{{define "header"}}

<div class="jumbotron" style="background-image: url('https://images.unsplash.com/photo-1415045550139-59b6fafc832f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=24b01c30ad6fcf4b33aae390d57ffe2b'); color: white; padding: 3%; height: 30vmin">
    <h1>
      Go tutorial
    </h1>
    <p>
      Scratch leg; meow for can opener to feed me friends are not food but massacre a bird in the living room and then look like the cutest and most innocent animal on the planet.
    </p>
</div>

{{end}}
