{{define "index"}}


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-h21C2fcDk/eFsW9sC9h0dhokq5pDinLNklTKoxIZRUn3+hvmgQSffLLQ4G4l2eEr" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../style/style.css">

    <title>Go Tutorials</title>
  </head>
  <body>
    {{template "nav"}}
    {{template "header"}}
    <div class="container mainContent">
      <h3>
        Topic One
      </h3>
      <small>Author Name</small>
      <br><hr>
      <p>
        Steal the warm chair right after you get up stare out the window gnaw the corn cob intently sniff hand lick the plastic bag. Attack dog, run away and pretend to be victim hola te quiero. Stare out the window wake up wander around the house making large amounts of noise jump on top of your human's bed and fall asleep again, purr while eating if it fits, i sits, but where is my slave? I'm getting hungry. Destroy the blinds lick butt.
      </p>

      {{template "form"}}

    </div>
  </body>
</html>
{{end}}
